$testscss-base-color: #f8af1e;


@include extjs-button-small-ui(
	$ui: 'testSCSS',
	$border-radius: 2px,
	$border-color:darken($testscss-base-color, 15% ),
	$background-color:$testscss-base-color,
	$color: darken($testscss-base-color, 30%),
	$font-family :'Roboto', sans-serif
);