/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);
$base-color: lighten(#5bc0de,10%);

$font-size: 12px;

$panel-ignore-frame-padding:true;

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i');
